<section class="footer-section">
    <div class="footer-description">
        <h3 class="contacts">
            <a href="https://github.com/Mr-Venus" target="_blank" class="sociais">Git Hub</a> 
            <a href="https://www.linkedin.com/in/francisco-diogo/" target="_blank" class="sociais">Linkedin</a> 
            <a href="https://www.instagram.com/diogo.lbz/" target="_blank" class="sociais">Instagram</a> 

        </h3>
        <p class="description">
            Vamos construir algo juntos.
        </p>
    </div>
    <div class="image-container">
        <p class="text-image">
            <span>ANGULAR ANGULAR ANGULAR ANGULAR TYPESCRIPT JAVASCRIPT TYPESCRIPT  PYTHON JAVA  HTML CSS SCSS JAVASCRIPT GITHUB REST API PYTHON  POSTGRESQL ANGULAR ANGULAR ANGULAR PYTHON C PYTHON C HTML CSS TYPESCRIPT</span>
            <span>ANGULAR ANGULAR ANGULAR ANGULAR TYPESCRIPT JAVASCRIPT TYPESCRIPT  PYTHON JAVA  HTML CSS SCSS JAVASCRIPT GITHUB REST API PYTHON  POSTGRESQL ANGULAR ANGULAR ANGULAR PYTHON C PYTHON C HTML CSS TYPESCRIPT</span>
            <span>ANGULAR ANGULAR ANGULAR ANGULAR TYPESCRIPT JAVASCRIPT TYPESCRIPT  PYTHON JAVA  HTML CSS SCSS JAVASCRIPT GITHUB REST API PYTHON  POSTGRESQL ANGULAR ANGULAR ANGULAR PYTHON C PYTHON C HTML CSS TYPESCRIPT</span>
            <span>ANGULAR ANGULAR ANGULAR ANGULAR TYPESCRIPT JAVASCRIPT TYPESCRIPT  PYTHON JAVA  HTML CSS SCSS JAVASCRIPT GITHUB REST API PYTHON  POSTGRESQL ANGULAR ANGULAR ANGULAR PYTHON C PYTHON C HTML CSS TYPESCRIPT</span>
            <span>ANGULAR ANGULAR ANGULAR ANGULAR TYPESCRIPT JAVASCRIPT TYPESCRIPT  PYTHON JAVA  HTML CSS SCSS JAVASCRIPT GITHUB REST API PYTHON  POSTGRESQL ANGULAR ANGULAR ANGULAR PYTHON C PYTHON C HTML CSS TYPESCRIPT</span>
            <span>ANGULAR ANGULAR ANGULAR ANGULAR TYPESCRIPT JAVASCRIPT TYPESCRIPT  PYTHON JAVA  HTML CSS SCSS JAVASCRIPT GITHUB REST API PYTHON  POSTGRESQL ANGULAR ANGULAR ANGULAR PYTHON C PYTHON C HTML CSS TYPESCRIPT</span>
            <span>ANGULAR ANGULAR ANGULAR ANGULAR TYPESCRIPT JAVASCRIPT TYPESCRIPT  PYTHON JAVA  HTML CSS SCSS JAVASCRIPT GITHUB REST API PYTHON  POSTGRESQL ANGULAR ANGULAR ANGULAR PYTHON C PYTHON C HTML CSS TYPESCRIPT</span>
            <span>ANGULAR ANGULAR ANGULAR ANGULAR TYPESCRIPT JAVASCRIPT TYPESCRIPT  PYTHON JAVA  HTML CSS SCSS JAVASCRIPT GITHUB REST API PYTHON  POSTGRESQL ANGULAR ANGULAR ANGULAR PYTHON C PYTHON C HTML CSS TYPESCRIPT</span>
            <span>ANGULAR ANGULAR ANGULAR ANGULAR TYPESCRIPT JAVASCRIPT TYPESCRIPT  PYTHON JAVA  HTML CSS SCSS JAVASCRIPT GITHUB REST API PYTHON  POSTGRESQL ANGULAR ANGULAR ANGULAR PYTHON C PYTHON C HTML CSS TYPESCRIPT</span>
            <span>ANGULAR ANGULAR ANGULAR ANGULAR TYPESCRIPT JAVASCRIPT TYPESCRIPT  PYTHON JAVA  HTML CSS SCSS JAVASCRIPT GITHUB REST API PYTHON  POSTGRESQL ANGULAR ANGULAR ANGULAR PYTHON C PYTHON C HTML CSS TYPESCRIPT</span>
            <span>ANGULAR ANGULAR ANGULAR ANGULAR TYPESCRIPT JAVASCRIPT TYPESCRIPT  PYTHON JAVA  HTML CSS SCSS JAVASCRIPT GITHUB REST API PYTHON  POSTGRESQL ANGULAR ANGULAR ANGULAR PYTHON C PYTHON C HTML CSS TYPESCRIPT</span>
            

        </p>
    </div>
    <div class="footer-title">
        <h1 class="title">
            <span class="contact">Contact</span>
            <span class="me">Me.</span>
        </h1>
    </div>
</section>