<section class="intro">
    <div class="overlay">
        <div class="bloco"></div>
    </div>
    <div class="intro-logo">
        <div class="titulo">
            <h1><span>Olá! Seja bem-vindo(a).</span></h1>
        </div>


        <!-- LOADING  -->
        <div class="container-loading">
            <div class="loading"></div>
        </div>

        <!-- CONTADOR -->
        <div class="contador">
            <div class="contador-numeros">
                <div class="numeros"><h1>0</h1></div>
                <div class="numeros"><h1>0</h1></div>
            </div>
        </div>
        <div class="contador">
            <div class="contador-numeros">
                <div class="numeros"><h1>3</h1></div>
                <div class="numeros"><h1>8</h1></div>
            </div>
        </div>
        <div class="contador">
            <div class="contador-numeros">
                <div class="numeros"><h1>7</h1></div>
                <div class="numeros"><h1>2</h1></div>
            </div>
        </div>
        <div class="contador">
            <div class="contador-numeros">
                <div class="numeros"><h1>9</h1></div>
                <div class="numeros"><h1>9</h1></div>
            </div>
        </div>
    </div>
</section>